html,
body {
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-family: PingFang SC !important;
    background: radial-gradient(
        357.07% 360.92% at 49.87% -83.56%,
        #4e443b 0%,
        #3b3431 23.04%,
        #292526 44.65%,
        #1b1a1f 100%
    );
    background-attachment: fixed;
}

#root {
    width: 100%;
    height: 100%;
    // player

    $playerBgColor: #000;
    $playerIconColor: #fff;

    // progress-bar
    $progressOuterBgColor: rgba(255, 255, 255, 0.3);
    $progressCacheBgColor: rgba(255, 255, 255, 0.5);
    $progressPlayedBgImage: linear-gradient(-90deg, #fe608e 0%, #ae3e5e 100%);
    // $progressPlayedShadow: 0 0 2px 0 rgba(0, 0, 0, 0.26);

    // tips
    $tipsColor: #fff;
    $tipsBgColor: rgba(0, 0, 0, 0.54);
    $tipsFontsize: 12px;

    // slider
    $sliderBgColor: rgba(0, 0, 0, 0.54);
    $sliderBarBgColor: rgba(255, 255, 255, 0.3);
    $sliderDragBgColor: #fe608e;
    $sliderDragAfterBgColor: #fff;
    $sliderDragAfterShadow: 0 0 5px 0 rgba(0, 0, 0, 0.26);

    // start

    $startBgColor: rgba(0, 0, 0, 0.38);
    $startSvgFill: rgba(255, 255, 255, 0.7);
    $startHoverBgColor: rgba(255, 255, 255, 0.5);
    $startHoverFillColor: rgba(255, 255, 255, 0.6);

    // definition

    $definitionUlBgColor: rgba(0, 0, 0, 0.54);
    $definitionLiColor: rgba(255, 255, 255, 0.8);
    $definitionLiActiveColor: #fe608e;
    $definitionNameColor: rgba(255, 255, 255, 0.8);
    $definitionNameBgColor: rgba(0, 0, 0, 0.38);

    // replay

    $replayBgColor: rgba(0, 0, 0, 0.54);
    $replaySvgBgColor: rgba(0, 0, 0, 0.58);
    $replaySvgPathFillColor: #ddd;
    $replaySvgHoverBgColor: rgba(0, 0, 0, 0.38);
    $replaySvgHoverFillColor: #fff;
    $replayTxtColor: #fff;

    $enterTipsBgColor: -webkit-linear-gradient(
        right,
        #000,
        #fe608e,
        #fe608e,
        #fe608e,
        #000
    );
    $ieEnterTipsBgColor: linear-gradient(
        to right,
        #000,
        #fe608e,
        #fe608e,
        #fe608e,
        #000
    );

    // live

    $liveColor: #fff;

    // error

    $errorBgColor: #000;
    $errorColor: #fff;
    $errorRefreshColor: #fe608e;

    //icon
    $iconMargin: 16px;
    //
    $miniMargin: 10px;

    //bar
    $barWidth: 50px;
    $barBottom: 50px;
}

#nprogress .bar {
    background: $primary-color !important; //自定义Nprogress颜色
}

@font-face {
    font-family: 'Currency Font';
    src: url('../font/Font.ttf'); /* 指定字体文件路径和格式 */
}

.swiper {
    /* 自定义分页器样式 */
    .swiper-pagination-bullet {
        width: 24px;
        height: 8px;
        background: #000;
        border-radius: 24px;
        opacity: 0.3;
    }

    .swiper-pagination-bullet-active {
        background: #fff; /* 活跃状态的颜色 */
    }

    .swiper-pagination-horizontal {
        top: 20px;
        bottom: auto;
    }
}

.tab-scroll-container {
    &::-webkit-scrollbar {
        display: none;
    }
}

.list-image-item {
    background-position: center center;
    background-size: auto 100%;
    // background-repeat: no-repeat;
}
