.play-container {
    .xgplayer {
        .selected,
        .xg-cur,
        .xg-seek-show {
            color: #f14f7a !important;
        }
    }
}

#preload-video {
    display: none;
}

.short-video-list {
    position: relative;
    overflow: hidden; // 隐藏滚动条
    touch-action: none; // 禁用浏览器默认滑动行为
    -webkit-overflow-scrolling: touch;

    .videos-container {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        transition: transform 0.3s ease-out; // 平滑滑动动画
    }

    .video-item {
        position: relative;
        flex: 0 0 100%;
        width: 100%;
        height: 100%;
        background-color: #000;
    }
}
