.btn {
    text-shadow: 0 -1px 1px rgba(255, 255, 255, 0.8);
    background: linear-gradient(90deg, #f9a8ea 0%, #f18cc0 50%, #fe7896 100%),
        url('../../../assets/images/home/overlay-button.png') repeat-x 0 0;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 2.3s;
    -webkit-animation-iteration-count: infinite;
}

@keyframes Pulse {
    from {
        background: linear-gradient(
            90deg,
            #f9a8ea 0%,
            #f18cc0 50%,
            #fe7896 100%
        );
        -webkit-box-shadow: 0 0 9px #333;
    }

    50% {
        background: linear-gradient(
            90deg,
            #ee9ee0 0%,
            #fd7bbe 50%,
            #e67089 100%
        );
        -webkit-box-shadow: 0 0 16px #fb6989;
    }

    to {
        background: linear-gradient(
            90deg,
            #f9a8ea 0%,
            #f18cc0 50%,
            #fe7896 100%
        );
        -webkit-box-shadow: 0 0 9px #333;
    }
}
