.page-bg {
    background: linear-gradient(
        to bottom,
        #090812,
        #111520 100vh,
        #07090e 200vh
    );
}

.overlay-bg {
    background-color: rgba($color: #000, $alpha: 0.7);
    backdrop-filter: blur(10px);
}

.button-gradient {
    background: linear-gradient(270deg, #feecc6, #fec1a1);
}

.user-card-gradient {
    background: linear-gradient(180deg, #feecc6, #fec1a1);
}

.primary-text-gradient {
    line-height: 1em;
    background: linear-gradient(to bottom, #ffedd6, #ffc4ec);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tab-text-shadow {
    text-shadow: 0 0 10px rgba(111, 92, 35, 0.6), 0 1px 4px rgba(0, 0, 0, 0.16);
}
