.page-bg {
    background: linear-gradient(
        to bottom,
        #090812,
        #111520 100vh,
        #07090e 200vh
    );
}

.overlay-bg {
    background-color: rgba($color: #000, $alpha: 0.5);
    backdrop-filter: blur(10px);
}
