.page-bg {
    background: linear-gradient(
        to bottom,
        #090812,
        #111520 100vh,
        #07090e 200vh
    );
}

.overlay-bg {
    background-color: rgba($color: #000, $alpha: 0.7);
    backdrop-filter: blur(10px);
}

.button-gradient {
    background: linear-gradient(270deg, #feecc6, #fec1a1);
}

.user-card-gradient {
    background: linear-gradient(180deg, #feecc6, #fec1a1);
}

.type-btn-gradient {
    text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.6);
    background: linear-gradient(110deg, #f9a8ea 0%, #f18cc0 50%, #ff98ae 100%);
}
