.vip-card-bg {
    background: url('../../images/pay/vip_card_bg.webp') no-repeat;
    background-size: 100% 100%;
}

.user-card-bg {
    background: url('../../images/user/userinfo_bg.png') no-repeat;
    background-size: 100% 100%;
}

.un-vip-card-bg {
    background: url('../../images/pay/un_vip_card_bg.webp') no-repeat;
    background-size: 100% 100%;
}
