@mixin bgUrl($url) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@mixin pAbsolute {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@mixin textEllipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin imageCover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

//主题背景色
$primary-color: #fe618e;

//主题字体颜色
$primary-font-color: #fff;

//错误色
$primary-error-color: #ff5a5a;

// 链接色
$primary-link-color: #b2a292;

// 成功色
$primary-success-color: #4caf50;

//主题色 class
.m-primary-font-color {
    color: $primary-font-color;
}

.m-primary-error-color {
    color: $primary-error-color;
}

.m-primary-success-color {
    color: $primary-success-color;
}

.m-primary-link-color {
    color: $primary-link-color;
}

.m-primary-background {
    background: $primary-color;
}

.m-success-background {
    background: $primary-success-color;
}

.m-error-background {
    background: $primary-error-color;
}

//功能
.background-image-none {
    background-image: none !important;
}
