.play-container {
    .xgplayer {
        .xgplayer-start {
            width: 44px !important;
            height: 44px !important;
            background-color: #f8688f;
            border-radius: 25px;
        }
    }
}
